.App-header {
    height: 80px;
  background-color: white;
 
 color: rgb(211, 231, 33);

  }
  
a:hover {
    color: rgb(228, 157, 26);
  }
  
.links {
    display: flex;
  }
  
.logo {
    color: white;
    margin: 10px;
    height: 40px;
  }
li {
    margin-right: 50px;
    list-style-type: none;
  
  }
  a {
    text-decoration: none;
    color: rgb(13, 14, 9);
    margin: 0;
    padding: 0;
    font-size: 20px;
  }